@media screen and (max-width: 768px) {/*For small screens*/
nav{
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
ul{
    display: flex;
    list-style-type: none;
}
ul[data-visible="true"]{
    transform: translateX(0px);
 }
li{
    padding-right: 12px;
}
a{
    color: black;
    text-decoration: none;
}
 .carousel{
    position:relative;
    margin:auto;
}
.slideShow{
    display:none;
}
.slideShow img{
   height: 250px;
   object-fit: cover;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.caption{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
#toggle{
    display: none;
}
.products{
    display: block;
    width: 300px;
}
/* .products-first{
    display: block;
    height: 500px;
 }
 .products-second{
     margin: 0 70px 50px 70px;
    display: block;
    height: 500px;
  }
  .products-third{
     margin: 0 70px 50px 70px;
    display: block;
    height: 500px;
  } */
 
 .product1{
     display: grid;
     grid-template-rows: 1fr 1fr;
     width: 300px;
  }
 .product2{
     display: grid;
     grid-template-rows: 1fr 1fr;
     height: 300px;
  }
  .product3{
     display: grid;
     grid-template-rows: 1fr 1fr;
     height: 300px;
  }
 
.image{
    width: 300px;
}
 .image img{
    border-radius: 20px 20px 0 0;
    height: 300px;
    width: 300px;

 }
 .description{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1px 20px 0px 20px;
    display: flex;
    flex-direction: column-reverse;
 }
 .description-section{
    padding-top: 0px;    

 }
 .colors{
    /* background-color: rgb(71, 206, 251); */
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 4px;
   
}
.colorDots {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    
}
.colorDots:active{
    border-radius: 5px;
    padding: 5px;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.white{
    background-color: rgb(224, 222, 222);
}

table, th, td{
    border: 2px solid black;
}
table{
margin-bottom: 10px;
}

.contactUs{
    padding-top: 20px;
    padding-left: 10px;
}
#contact{
    font-weight: 700;
    font-size: x-large;
    
}
form>input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#name{
    width: 300px;
    height: 40px;
}
#name:focus{
    border: 1px solid rgb(78, 107, 235);
    outline-width: 0;
}
#email{
    width: 300px;
    height: 40px; 
}
#email:focus{
    border: 1px solid rgb(132, 154, 248);
    outline-width: 0;
}
#email:active:invalid{
    border: 1px solid rgb(248, 152, 152);
}
#email:focus:invalid{
    background-color: rgb(248, 181, 181);
    color:rgb(243, 114, 114);
    border: 1px solid rgb(248, 152, 152);
}
#email:invalid{
    background-color: rgb(248, 181, 181);
    color:rgb(243, 114, 114);
    border: 1px solid rgb(248, 152, 152);
}
#message{
    width: 300px;
    height: 100px;
}
#message:focus{
    border: 1px solid rgb(78, 107, 235);
    outline-width: 0;
}
#errorMessage{
    color:rgb(243, 114, 114);
}
.submitButton{
    width: 310px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(0, 187, 255);
    background-color: rgb(0, 187, 255);
    color: rgb(61, 60, 60);
    font-size: 18px;
    font-weight: 200;
}
.submitButton:hover{
background-color: rgb(121, 196, 246);
color: black;
border: 1px solid rgb(121, 196, 246);
}
}
@media screen and (min-width: 768px) {
*{
    box-sizing:border-box;
}

body {
    margin: 0;
}
 
nav{
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}
ul{
    display: flex;
    list-style-type: none;
}
ul[data-visible="true"]{
    transform: translateX(0px);
 }
li{
    padding-right: 12px;
}
a{
    color: black;
    text-decoration: none;
}

.carousel{
    position:relative;
    margin:auto;
}
.slideShow{
    display:none;
}
.slideShow img{
   height: 550px;
   object-fit: cover;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.caption{
    color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.product{
    display: flex;
    flex-direction: column;
}
.products-first{
   margin: 50px 70px 50px 70px;
   display: flex;
   flex-direction: row;
   height: 500px;
}
.products-second{
    margin: 0 70px 50px 70px;
    display: flex;
   flex-direction: row;
   height: 500px;
 }
 .products-third{
    margin: 0 70px 50px 70px;
    display: flex;
   flex-direction: row;
   height: 500px;
 }

.product1{
    display: flex;
   flex-direction: column;
    height: 500px;
 }
.product2{
    display: flex;
   flex-direction: column;
    height: 500px;
 }
 .product3{
    display: flex;
    flex-direction: column;
    height: 500px;
 }

 .image{
    width: 300px;
    height: 200px;
    
}
.image img{
    border-radius: 15px;
    width: 300px;
    height: 200px;

    /* object-fit: fill; */
}
 
#toggle{
    display: none;
}

.description{
    display: grid;
    grid-template-rows: 2fr 1fr;
    margin-top: 20px;
    margin-bottom: 0;
    height: 200px;
}
.description-section{
   padding-left: 10px;
}
.description-section h3{
    margin: 0;
}
.description-section h5{
    margin: 0;
}
.colors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10px;
    width: 160px;
   
}
.colorDots {
    cursor: pointer;
    height: 30px;
    width: 30px;
    /* margin: 0 0px; */
    border-radius: 50%;
    /* display: inline-block; */
    
}
.colorDots:hover{
    border-radius: 5px;
    padding: 5px;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.white{
    background-color: rgb(224, 222, 222);
}


table, th, td{
    border: 2px solid rgb(57, 117, 190);
    color: rgb(23, 55, 70);
}
table{
margin-bottom: 10px;
margin-left: 120px;
margin-right: 120px;

}
.comparison{
    font-size: x-large;
    text-transform: uppercase;
    margin-left: 120px;
    color: rgb(83, 133, 196);
}
.contactUs{
    padding-top: 50px;
    padding-left: 120px;
    
}
#contact{
    font-weight: 700;
    font-size: x-large;
    text-transform: uppercase;
    color: rgb(83, 133, 196);

    
}
form{
    margin: 0 200px 0 200px;
}
form>input{
    border: 1px solid black;
    border-radius: 3px;
}

/* #email:invalid{
    border: 1px solid rgb(248, 152, 152);
} */

#name{
    width: 500px;
    height: 40px;
}
#name:focus{
    border: 1px solid rgb(78, 107, 235);
    outline-width: 0;
    background-color: rgb(232, 236, 252);
}
#email{
    width: 500px;
    height: 40px; 
    background-color: white;
}
#email:focus{
    border: 1px solid rgb(132, 154, 248);
    outline-width: 0;
    background-color: rgb(232, 236, 252);
}
#email:active:invalid{
    border: 1px solid rgb(248, 152, 152);
}
#email:invalid:focus{
    background-color: rgb(248, 181, 181);
    color:rgb(243, 114, 114);
    border: 1px solid rgb(248, 152, 152);
}


/* #email:invalid{
    background-color: rgb(248, 181, 181);
    color:rgb(243, 114, 114);
    border: 1px solid rgb(248, 152, 152);
} */


textarea{
    width: 500px;
    height: 100px;
}
textarea:focus{
    border: 1px solid rgb(78, 107, 235);
    outline-width: 0;
    background-color: rgb(232, 236, 252);
}
/* #message:active{
    cur
} */
#errorMessage{
    color:rgb(243, 114, 114);
}
.submitButton{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(0, 187, 255);
    background-color: rgb(0, 187, 255);
    color: rgb(61, 60, 60);
    font-size: 18px;
    font-weight: 200;
    margin: 0 200px 0 200px;
}
.submitButton:hover{
background-color: rgb(121, 196, 246);
color: black;
border: 1px solid rgb(121, 196, 246);
}
}